.intro-message{
    padding: 10px 0;
}
.empty-message{
    color: red;
    font-size: 15px;
    margin: 20px 0 35px;
}
.submit{
    margin-top: 17px;
}
.nerdstorage-table{
    width: 100%;
    margin: 25px 0;
}
.narrow-col{
    width: 15%;
}